@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root {
  --white: #fff;
  --dark-blue: #141c2b;
  --mid-blue: #415a77;
  --light-grey: #dee2e6;
  --gold: #ffc300;
  --light-gold: #ffd60a;
  --green: #7AC74C;
  --red: #e8401c;
}

body {
  font-family: 'Source Sans Pro';
  background: var(--dark-blue);
  padding: 0;
}

#wrapper {
  margin: auto;
  max-width: 390px;
  overflowX: hidden;
}

h1 {
  text-align: center;
  color: var(--white);
}

h2 {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1em;
}

#known-values > input {
  border: 3px solid var(--light-grey);
  padding: 5px;
  width: 80px;
  height: 15px;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

#known-values > input:focus {
  outline: none;
}

#known-values > label {
  margin: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

#known-values {
  margin: auto;
  width: 400px;
  position: relative;
  text-align: center;
  display: grid;
  margin-left: -10px;
  max-width: 400px;
  background: var(--white);
  border: 5px solid var(--light-grey);
  border-radius: 8px;
  height: 280px;
}

#calculate-knowns-ratio-btn {
  margin: auto;
  margin-top: 10px;
  width: 150px;
  height: 28px;
  background-color: var(--gold);
  border: 2px solid var(--light-gold);
  border-radius: 3px;
  color: var(--dark-blue);
  font-size: 1.2em;
  letter-spacing: 0.8px;
  font-weight: 500;
}

#calculate-knowns-ratio-btn:active,#convert-btn:active, #print-page:active, #add-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 2px #888888;
}

#known-values-ratio-display {
  font-size: 1.1em;
  margin: 15px;
}

nav {
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

#chemicals-list {
  margin: auto;
  width: 400px;
  position: relative;
  margin-left: -10px;
  height: 550px;
  border: 5px solid var(--light-grey);
  background-color: var(--white);
  font-size: 1.1em;
  border-radius: 8px;
}

#main-list {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  text-align: center;
  max-width: 300px;
  font-weight: bold;
  height: 500px;
  max-height: 500px;
}

#main-list > input {
  margin-top: 2px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
}

#formula-name, #calculated-ratio-val-num, #new-ratio-val-num, .chems {
  display: block;
  align-items: grid;
  width: 80px;
  margin: auto;
  align-items: center;
  border: none;
  text-align: center;
  font-weight: bold;
}

#formulation-name, #calculated-ratio-val, #new-ratio-val, .chemNum {
  margin: auto;
  float: left;
  margin-right: -15px;
  padding-right: 10px;
  width: 180px;
  border: 1px solid transaprent;
}

nav {
  overflow: hidden;
  overflow-y: scroll;
  height: 455px;
}

#buttons {
  margin: auto;
  text-align: center;
  width: 410px;
}

#convert-btn, #print-page, #add-btn, #reset-form {
  margin: auto;
  display: inline-block;
  font-weight: bold;
  border: 2px solid var(--light-gold);
  background-color: var(--gold);
  color: var(--dark-blue);
  border-radius: 3px;
  height: 40px;
  margin: 35px 5px 5px 5px;
}

label {
  position: relative;
}

.discard {
  position: absolute;
  margin-left: 100px;
  top: 4px;
  display: inline;
  max-width: 20px;
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

form.mainlist button:nth-child(n+1):nth-last-child(-n+8).discard {
  left: 55px;
}

@media print {
  #wrapper {
    visibility: hidden;
  }
  
  #main-list {
    margin: auto;
    visibility: visible;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    width: 300px;
    top: 10px;
  }
  .chems {
    margin: auto;
    padding: 1px;
  }
  .discard, #sig {
    visibility: hidden;
  }
}

#sig {
  color: var(--light-grey);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 0.6em;
  letter-spacing: 0.25em;
  margin-top: 5px;
  height: 40px;
  font-size: 0.7em;
}
